@media (min-width:1024px){
    #side-nav{
      width: 25%;
    }
    #content{
        width: 50%;
    }
    #aside{
        width: 25%;
    }
}

@media (min-width: 768px)and (max-width:1024px){
    #side-nav{
      width: 16.666%;
    }
    #content{
      width: 83.3333%;
    }
    #aside{
        width: 100%;
    }
}

@media (min-width: 320px)and (max-width:768px){
  #side-nav{
      width: 100%;
    }
    #content{
        width: 100%;
    }
    #aside{
        width: 100%;
    }
}
